* {
  box-sizing: border-box;
}

body {
  background-color: #EEE;
  margin: 0;
  padding: 0;
}

.nav {
  background-color: #FFF;
  height: 50px;
  width: 100%;
}

.nav-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 80%;
}

.add-form-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.add-form {
  background-color: #FFF;
  height: 50%;
  width: 50%;
}
