@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');

* {
  box-sizing: border-box;
  color: #2A2A2A;
  font-family: 'Source Sans Pro';
}

body {
  background-color: #EEE;
  margin: 0;
  padding: 0;
}

.button {
  background-color: #2A2A2A;
  border: 0;
  border-radius: 3px;
  color: #FFF;
  cursor: pointer;
  font-size: 1em;
  min-width: 120px;
  padding: 10px 0;
  text-align: center;
  transition: all 0.2s ease;
}

.button:hover {
  opacity: 0.8;
}

/* Header */
.header {
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  width: 100%;
}

.header-container {
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  width: 90%;
}

.header-box {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
}

.header-title {
  display: inline-block;
  font-weight: 700;
  font-size: 1.8em;
  margin: 0;
  padding: 10px 0;
}

.header-button {
  background-color: #FFF;
  border: 2px solid #2A2A2A;
  color: #2A2A2A;
  cursor: pointer;
  float: right;
  font-size: 1em;
  padding: 5px 0;
  transition: all 0.2s ease-in;
}

.header-button:hover {
  background-color: #2A2A2A;
  color: #FFF;
}

/* Leaderboard */
.container {
  background-color: #FFF;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin: 20px auto;
  max-width: 1200px;
  position: relative;
  width: 90%;
}

.table-headings {
  background-color: #F5F5F5;
  border-bottom: 1px solid #CDCDCD;
  padding: 15px 25px;
}

.table-heading {
  color: #808080;
  display: inline-block;
}

.table-col {
  display: inline-block;
  height: 1.2em;
  line-height: 1.2em;
  vertical-align: top;
}

.table-rank-col {
  width: 20%;
}

.table-name-col {
  width: 50%;
}

.table-time-col {
  width: 25%;
}

.table-remove-col {
  width: 5%;
}

.remove-image {
  cursor: pointer;
  height: 100%;
  float: right;
}

.table-rows {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-row {
  border-top: 1px dashed #CDCDCD;
  padding: 20px 25px;
}

.rank-box {
  display: inline-block;
  padding: 0 5px;
  border-radius: 5px;
}

.table-top-row {
  border-top: 0;
}

.table-first-row .rank-box {
  background-color: rgba(188, 140, 12, 0.8);
  color: #FFF;
}

.table-second-row .rank-box {
  background-color: rgba(153, 153, 153, 0.8);
  color: #FFF;
}

.table-third-row .rank-box {
  background-color: rgba(145, 70, 17, 0.8);
  color: #FFF;
}

.table-empty-row {
  color: #A8A8A8;
  font-weight: 300;
  letter-spacing: .2px;
  padding: 50px 25px;
  text-align: center;
}

.pagination-arrows {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 100px);
}

.pagination-button {
  border-radius: 50px;
  cursor: pointer;
  height: 40px;
  padding: 10px;
  position: absolute;
  transition: all 0.2s ease;
  width: 40px;
}

.pagination-button:hover {
  background-color: #FFF;
}

.pagination-left-button {
  left: 0;
}

.pagination-right-button {
  transform: rotate(180deg);
  right: 0;
}

/* Overlay */
.overlay {
  background-color: rgba(30,30,30,0.9);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

/* Confirmation Box*/
.confirmation-box {
  background-color: #EEE;
  border-radius: 3px;
  height: 50%;
  left: 50%;
  max-height: 130px;
  max-width: 300px;
  padding: 20px 0;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.confirmation-box p {
  font-size: 1.2em;
  margin: 0 0 25px;
}

.confirmation-buttons {
  bottom: 20px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.remove-button {
  background-color: #F46054;
  margin-right: 20px;
}

.cancel-button {
  background-color: #B8B8BB;
}

/* Add Form*/
.add-form-box {
  background-color: #EEE;
  border-radius: 3px;
  height: 50%;
  left: 50%;
  max-height: 350px;
  max-width: 400px;
  padding: 25px;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}

.close-image {
  cursor: pointer;
  height: 1.4em;
  float: right;
  vertical-align: top;
}

.form-title {
  display: inline-block;
  margin: 0 0 20px;
  vertical-align: top;
}

.form-field {
  margin-bottom: 20px;
}

.form-label {
  color: #727272;
  display: inline-block;
  margin: 0;
  width: 20%;
}

.form-textbox {
  background-color: #FFF;
  border: 1px solid #B8B8BB;
  border-radius: 3px;
  font-size: 1em;
  padding: 5px 5px;
  vertical-align: middle;
}

.form-textbox-error {
  border-color: #F46054;
}

.form-name-textbox {
  width: 80%;
}

.form-time-textbox {
  text-align: center;
  width: 40px;
}

.form-bottom {
  bottom: 25px;
  position: absolute;
  width: calc(100% - 50px);
}

.form-error-message {
  color: #F46054;
  font-size: 0.9em;
  text-align: right;
}

.confirm-button {
  background-color: #8AC5C6;
  width: 100%;
}
